.badge {
    margin-left: 4px;
    order: 2;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: auto;
}

e-treeitem:is(
    :not(:is(:hover, [selected], [active])),
    :not(:is([selected], [active])):hover:has(> e-treeitemgroup:hover),
) > e-toolbar {
    display: none;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 6px;
}

e-tabpanel {
    padding-top: 8px;
}

.dialog-footer {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.dialog-footer button {
    margin: auto 0 auto 8px;
}

.dialog-footer button:first-child {
    margin-left: auto;
}

e-toolbaritem[name="visibility"] {
    --icon-color: black;
    --icon-image: url("/assets/visibility_FILL1_wght400_GRAD0_opsz48.svg");
}

e-toolbaritem[name="visibility"][pressed] {
    --icon-image: url("/assets/visibility_off_FILL1_wght400_GRAD0_opsz48.svg");
    background-color: revert;
}