@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype")
}

html {
    height: 100%;
}

body {
    font-family: "Open Sans";
    font-size: 13px;
    margin: 0;
    height: 100%;
    padding: 6px;
}